
{% extends  "TroiswaBackBundle::layout.html.twig" %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block titre %} acteur {{ parent() }}
{% endblock %}


{% block central %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{{ path("troiswa_back_admin")  }}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-table"></i> Acteurs
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            {# form(formActeurs) #}
            {{ form_start(formFilms, {"attr":{"novalidate":"novalidate" }}) }}



            {{  form_label(formFilms.titre,"titre") }}

            {%  if form_errors(formFilms.description) is not empty %}

                {{ form_errors(formFilms.titre) }}

            {% endif %}


            <div class="has-success">
                {{ form_widget(formFilms.titre, {"attr":{"class":"form-control" }} ) }}
            </div>



            {{  form_label(formFilms.description,"description") }}

            {%  if form_errors(formFilms.description) is not empty %}

                <div class="alert alert-danger">
                    {{ form_errors(formFilms.description) }}
                </div>

            {% endif %}

            <div class="has-success">
                {{ form_widget(formFilms.description, {"attr":{"class":"form-control" }} ) }}
            </div>


            {{  form_label(formFilms.dateDeRealisation,"dateDeRealisation") }}

            {%  if form_errors(formFilms.dateDeRealisation) is not empty %}

                <div class="alert alert-danger">
                    {{ form_errors(formFilms.dateDeRealisation) }}
                </div>

            {% endif %}

            <div class="has-success">
                {{ form_widget(formFilms.dateDeRealisation, {"attr":{"class":"form-control" }} ) }}
            </div>

            {{  form_label(formFilms.note,"note") }}

            {%  if form_errors(formFilms.note) is not empty %}

                <div class="alert alert-danger">
                    {{ form_errors(formFilms.note) }}
                </div>

            {% endif %}

            <div class="has-success">
                {{ form_widget(formFilms.note, {"attr":{"class":"form-control" }} ) }}
            </div>


            {{  form_label(formFilms.laisonGenre,"genre") }}
            {{  form_widget(formFilms.laisonGenre) }}
            {{ form_end(formFilms) }}

            <a class="btn btn-success" href="{{ path("troiswa_back_create_film") }}" >Creer un nouveau film</a>



            <div class="row">
                <div class="col-lg-6">
                    <h2>Bordered Table</h2>
                    <div class="table-responsive">


                    </div>
                </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->


{% endblock %}



    {% block javascript %}
    {{ parent() }}


    {% endblock %}
