
{% extends  "TroiswaBackBundle::layout.html.twig" %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block titre %} acteur {{ parent() }}
{% endblock %}


{% block central %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Tous les acteurs {{ acteurs |length }} dans la table
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{{ path("troiswa_back_admin")  }}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-table"></i> Acteurs
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            {%  for message in app.session.flashbag.get("sucess_acteur") %}

                <p class="alert alert-success">{{ message }}</p>

            {% endfor %}

            {%  for message in app.session.flashbag.get("supp_acteur") %}

                <p class="alert alert-success">{{ message }}</p>

            {% endfor %}


            <a class="btn btn-success" href="{{ path("troiswa_back_create_acteur")  }}" >Creer un nouvel acteur</a>



            <div class="row">
                <div class="col-lg-6">
                    <h2>Bordered Table</h2>
                    <div class="table-responsive">

                        <table class="table table-bordered table-hover">

                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Image</th>
                                <th>Sexe</th>
                                <th>Date</th>
                                <th>Biographie</th>
                                <th>Ville</th>
                                <th>Action</th>
                            </tr>
                            </thead>


                            <tbody>

                              {#  {{ dump(acteurs) }}  #}

                            {% for unActeur in acteurs %}


                                <tr>
                                <td> {{ unActeur.id }} </td>
                                <td> {{ unActeur.nom }} </td>
                                    <td> {{ unActeur.prenom }} </td><td> <img src=" {{ asset("images/") }}{{ unActeur.image }}" width="'200px" class="img-thumbnail"> </td>

                                    <!--<td> <img src="{" {#{{ asset(unActeur.displayImage) }} #}"> </td> -->


                                    <td>
                                    {% if unActeur.sexe == 1 %}
                                       homme
                                    {%  else %}
                                      femme
                                    {%  endif  %}

                                </td>
                                    <td> {{ unActeur.dateNaissance | date("m/d/Y") }} </td>

                                    <td> {{ unActeur.biographie }} </td>
                                    <td> {{ unActeur.ville }} </td>
                                 <td>
                                     <a class="btn btn-success" href="{{ path("troiswa_back_info_acteur",{"id":unActeur.id}) }}" >Voir</a>
                                     <a class="btn btn-primary" href="{{ path("troiswa_back_modifier_acteur",{"id":unActeur.id}) }}" >Modifier</a>
                                     <a class="btn btn-danger" href="{{ path("troiswa_back_supprimer_acteur",{"id":unActeur.id}) }}" >Supprimer</a>
                                 </td>


                                </tr>

                            {% endfor %}

                            </tbody>

                        </table>

                    </div>
                </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->


{% endblock %}



    {% block javascript %}
    {{ parent() }}


    {% endblock %}
