
{% extends  "TroiswaBackBundle::layout.html.twig" %}

{% block css %}
{{ parent() }}
{% endblock %}

{% block titre %} acteur {{ parent() }}
{% endblock %}


{% block central %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{{ path("troiswa_back_admin")  }}">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-table"></i> Acteurs
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            {# form(formActeurs) #}



            {{ form_start(formActeurs, {"attr":{"novalidate":"novalidate" }}) }}

            {{  form_label(formActeurs.sexe,"sexe") }}
            {{ form_errors(formActeurs.sexe) }}

            <div class="has-success">
                {{ form_widget(formActeurs.sexe, {"attr":{"class":"form-control" }} ) }}
            </div>

            {{  form_label(formActeurs.nom,"nom") }}

            {%  if form_errors(formActeurs.nom) is not empty %}

                <div class="alert alert-danger">
                    {{ form_errors(formActeurs.nom) }}
                </div>

            {% endif %}



            <div class="has-success">
                {{ form_widget(formActeurs.nom, {"attr":{"class":"form-control" }} ) }}
            </div>

            {{  form_label(formActeurs.prenom,"prenom") }}

            {%  if form_errors(formActeurs.prenom) is not empty %}

                <div class="alert alert-danger">
                    {{ form_errors(formActeurs.nom) }}
                </div>

            {% endif %}

            <div class="has-success">
                {{ form_widget(formActeurs.prenom, {"attr":{"class":"form-control" }} ) }}
            </div>

            {{  form_label(formActeurs.dateNaissance,"dateNaissance") }}
            {{ form_errors(formActeurs.dateNaissance) }}

            <div class="has-success">
                {{ form_widget(formActeurs.dateNaissance, {"attr":{"class":"form-control" }} ) }}
            </div>

            {{  form_label(formActeurs.ville,"ville") }}
            {{ form_errors(formActeurs.ville) }}

            <div class="has-success">
                {{ form_widget(formActeurs.ville, {"attr":{"class":"form-control" }} ) }}
            </div>


            {{  form_label(formActeurs.biographie,"biographie") }}
            {{ form_errors(formActeurs.biographie) }}

            <div class="has-success">
                {{ form_widget(formActeurs.biographie, {"attr":{"class":"form-control" }} ) }}
            </div>


            {{  form_label(formActeurs.fichier,"fichier") }}
            {{ form_errors(formActeurs.fichier) }}

            <div class="has-success">
                {{ form_widget(formActeurs.fichier, {"attr":{"class":"form-control" }} ) }}
            </div>


            {{ form_end(formActeurs) }}


            <a class="btn btn-success" href="{{ path("troiswa_back_create_acteur")  }}" >Creer un nouvel acteur</a>



            <div class="row">
                <div class="col-lg-6">
                    <h2>Bordered Table</h2>
                    <div class="table-responsive">


                    </div>
                </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->


{% endblock %}



    {% block javascript %}
    {{ parent() }}


    {% endblock %}
